@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --background-secondary: 247 247 247;
    --foreground: 17 17 17;
    --text-primary: 17 17 17;
    --text-secondary: 85 85 85;
    --accent-blue: 0 82 255;
    --border-primary: 234 234 234;
    --radius: 0.625rem;
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
    @apply font-sans antialiased;
  }
}
